div.passport-icon {
  background:url("http://wgbhdigital.org/nova/passport/img/passport_compass_rose.svg");
  background-position:center center;
}

.overline {
    div.passport-icon {
        width:16px;
        height:16px;
        display:inline-block;
        margin-right:6px;
        margin-left:9px;
        margin-bottom:-1px;
    }
}

.play-icon-container {
    div.passport-icon {
        width: 32px;
        height:32px;
        position:absolute;
        bottom:14px;
        left:8px;
    }
}

div.stacks-list-module {
    .play-icon-container {
        div.passport-icon {
            width: 16px;
            height:16px;
        }
    }
}
