
.RatingBox {
    display: inline-block;
}

.RatingBox ul.stars {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.RatingBox li.star {
    display: inline-block;
}

.RatingBox .star_button {
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.RatingBox .star[data-star-state='higher'] .star_button {
    opacity: 0.3;
}

.RatingBox[data-disabled='false'] .star[data-star-state='higher'] .star_button:hover {
    opacity: 0.8;
}

.RatingBox[data-disabled='true'] .star_button {
    color: #999;
}

