
.EditPanel a {
    color: #264dbd;
    text-decoration: underline;
}

.EditPanel {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #f3f3f3;
    border: 1px solid #777;
    border-left: none;
    -webkit-border-top-right-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px #666;
    z-index: 10000;
}

.EditPanel.expanded {
    max-height: 100%;
    overflow: auto;
}

.EditPanel .panel_content {
    padding: 1em;
}

.EditPanel .edit_panel_section {
    margin-top: 1em;
}

.EditPanel .edit_panel_section_content {
    padding-left: 1em;
}

.EditPanel .edit_panel_title {
    font-weight: bold;
    margin-bottom: 0.2em;
    color: #222;
}

.EditPanel .close_panel_button {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.EditPanel .show_panel_button {
    border: none;
    background: none;
    padding: 0;
}

.scripted .EditPanel .panel_content {
    display: none;
}

.EditPanel.expanded .show_panel_button {
    display: none;
}

.EditPanel.expanded .panel_content,
.EditPanel.expanded .close_panel_button {
    display: block;
}

.EditPanel .EditLink {
    display: block;
    text-decoration: none;
}

.EditPanel .EditLink + .EditLink {
    margin-top: 0.2em;
}

.EditPanel .EditLink .label {
    text-decoration: underline;
    font-size: 1.1em;
    position: relative;
    top: -2px;
}

.EditPanel .block_tree {
    padding: 0.2em;
    margin: 0;
    list-style-type: none;
    border: 1px solid #aaa;
    max-height: 50%;
    overflow: auto;
    background-color: white;
}

.EditPanel .block_tree ul {
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
    padding-top: 0.3em;
}

.EditPanel .block_tree li {
    cursor: pointer;
    margin-bottom: 0.3em;
}

.EditPanel .block_tree .entry_label {
    padding: 0.1em 0.3em;
    display: block;
}

.EditPanel .block_tree .entry_label .qualifier_label {
    color: #555;
}

.EditPanel .block_tree .disabled_block .entry_label {
    color: #666 !important;
    font-style: italic;
}

.scripted .EditPanel .block_tree .entry_label {
    color: black;
    text-decoration: none;
    border: 1px solid white;
}

.EditPanel .block_tree li.highlighted > .entry_label {
    -webkit-border-radius: 3px;
    border: 1px solid #acc0d4;
    background-color: #c1d0df;
}

body.editing .block {
    outline: 1px solid #ccc !important;
    cursor: pointer !important;
}

body.editing .highlighted_block {
    outline: 2px solid #05b !important;
    background-color: #cbd6e3;
}

.EditPanel .edit_slot_link {
    text-decoration: none;
}

.EditPanel .edit_slot_link .label {
    text-decoration: underline;
    font-size: 1.1em;
    position: relative;
    top: -2px;
}

.EditPanel .edit_slot_link + * {
    margin-top: 0.2em;
}

