.drcr{
        border-style: outset;        
        height: 400px;
}

.drcr>thead>tr>.header{
        font-weight: bold;
        padding: 5px;
        text-align: -moz-center;
        text-align: -webkit-center;
        border-style: dotted;
}
