img{
  width: 250px;
}

.smiley{
  width: 20px;
  height: 20px;
}

.featured-book{
  height: 200px;
  padding: 5px;
  border: 1px solid #666;
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  padding: 20px;
  color: #333;
}


.featured-book:hover{
  background-color:  rgba(208,208,208,0.5);
}
