#a4{
  width: 8.3in;
  height: 11.7in;
  border-style:groove;
  padding: 10px;
  position:relative;
  left: calc(50% - 4in);
}


#catalogue-box{
  width: 5in;
  height: 3in;
  border-style:double;
}

#call-number{
  width: 0.75in;
  height: 3in;
  border-style:dashed;
}
