.ui.label.get{
    background-color: #21ba45 !important;
    border-color: #21ba45 !important;
    color: #fff !important
}

.ui.label.post{
    background-color: #1678c2 !important;
    border-color: #1678c2 !important;
    color: #fff !important
}

.ui.label.patch{
    background-color: #5829bb !important;
    border-color: #5829bb !important;
    color: #fff !important
}

.ui.label.put{
    background-color: #9627ba !important;
    border-color: #9627ba !important;
    color: #fff !important
}

.ui.label.delete{
    background-color: #db2828 !important;
    border-color: #db2828 !important;
    color: #fff !important
}

.ui.tag.label.string{
    background-color: #767676 !important;
    border-color: #767676 !important;
    color: #fff !important
}

.ui.tag.label.integer{
    background-color: #00b5ad !important;
    border-color: #00b5ad !important;
    color: #fff !important
}

.ui.tag.label.related{
    background-color: #975b33 !important;
    border-color: #975b33 !important;
    color: #fff !important
}

.ui.tag.label.boolean{
    background-color: #2185d0 !important;
    border-color: #2185d0 !important;
    color: #fff !important
}

.ui.tag.label.date{
    background-color: #f26202 !important;
    border-color: #f26202 !important;
    color: #fff !important
}
