.wlfilebrowser table th a {
    font-size: 16px;
    line-height: 19px;
}

.wlfilebrowser table a {
    font-size: 14px;
    line-height: 17px;
}

.wlfilebrowser table td {
    font-size: 14px;
    line-height: 17px;
}
