#collection {
    overflow-y: scroll;
}

.header-right {
    float: right;
    font-size: 0.9em;
    margin-right: 14.5em;
}

.header .report-link, .header .report-link:visited {
    color: #777;
}

.header .report-link:hover {
    color: #eee;
}

.actions-menu {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    color: #999;
    font-size: 0.9em;
    width: 14em;
    height: 1.75em;
    line-height: 1.25em;
    text-align: right;
    padding: 0.25em;
    cursor: default;
    background-color: #333;
    box-sizing: border-box;
    border-radius: 0.25em;
}

.actions-list {
    width: 14em;
    position: fixed;
    z-index: 500;
    list-style: none outside none;
    margin: 0.25em 0 0 -0.25em;
    padding: 0;
    background-color: #333;
    text-align: left;
    display: none;
}

.actions-list li {
    margin: 0;
    padding: 0.25em;
    color: white;
    cursor: pointer;
}

.actions-list li > a, .actions-list li > a:visited {
    display: block;
    text-decoration: none;
    color: inherit;
}

.actions-menu:hover {
    border-radius: 0.25em 0.25em 0 0;
}

.actions-menu:hover .actions-list {
    display: block;
    transition-delay: 0;
}

.actions-list li:hover {
    background-color: #555;
}

.widget-collection .additional {
    padding: 0.5em;
    line-height: 2em;
    display: none;
}

.widget-collection.smiles-opened .additional {
    display: block;
}

#collection.with-selection {
    height: calc(100% - 5em);
}

#suggestions.with-selection {
    height: calc(100% - 5em);
}

#collection-action-panel {
    height: 5em;
}

#suggestions-action-panel {
    height: 5em;
}

#dialog-new-category.mode-add .mode-edit {
    display: none;
}

#dialog-new-category.mode-edit .mode-add {
    display: none;
}

.admin-icon-item {
    line-height: 2.5em;
    display: inline-block;
    padding: 0 0.25em;
}

.admin-icon-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.admin-icon-img {
    height: 2.5em;
    vertical-align: middle;
}
