/*

+---------------.top----------------+
|              .header              |
+------------.container-------------+
|                 |                 |
| .container-left |.container-right |
|                 |                 |
+---.container-actions (optional)---+
| .c*actions-left |.c*actions-right |
+-----------------------------------+

*/

@import 'common.css';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white; /* IE11 is buggy without that lol */
}

body.drag-enabled * {
    cursor: move !important;
}


.top {
    background-color: #222;
    color: white;
    height: 2em;  /* .header height + .header padding */
    box-shadow: 0 0 0.35em #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.top a, .top a:visited {
    color: white;
}

.header {
    padding: 0.25em 0.5em;
    height: 1.5em;
    line-height: 1.5em;
}

.page-title {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.container {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-left, .container-right {
    width: 50%;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.container-actions-left, .container-actions-right {
    position: absolute;
    bottom: 0;
    width: 50%;
    background-color: inherit;
    box-sizing: border-box;
    padding: 0.5em;
    overflow: hidden;
    line-height: 2em;
    overflow-y: auto;
}

.container-actions-right {
    left: 50%;
}


/* DIALOGS */

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    position: fixed;
    background-color: white;
    width: 50%;
    max-height: 75%;
    min-height: 1em;
    top: 12.5%;
    left: 25%;
    padding: 0.5em;
    border-radius: 0.5em;
    z-index: 510;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 2em;
    color: black;
}

.dialog-title {
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em;
    background-color: #f4f4fe;
    font-weight: bold;
    overflow: hidden;
}

.dialog-title .dialog-close {
    float: right;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
}

.dialog-title .dialog-close:before {
    content: "×";
}

.dialog-background.hidden, .dialog.hidden {
    display: none;
}

/* common dialog fields */

.smile-preview-area {
    text-align: center;
}

.smile-preview {
    margin: 0.5em;
}

.dialog-notice {
    color: #aaa;
    font-size: 0.75em;
    line-height: 1.25em;
    margin-bottom: 0.25em;
    font-style: italic;
}

.icon-container {
    display: block;
    overflow-y: auto;
    max-height: 12.5em;
    margin: 0.5em 0;
    text-align: justify;
}

.icon-container label {
    display: inline-block;
    margin-right: 0.5em;
}

.icon-container label:hover {
    background-color: #f3f3f3;
}

.dialog-category-icon {
    height: 2.5em;
    vertical-align: middle;
}


/* DRAGDROP */

.overlay {
    position: fixed;
    z-index: 100;
}

.overlay.stopping {
    transition-property: top, left;
    transition-timing-function: ease-out;
}


/* dark theme */

body.dark {
    background-color: #222;
    color: #eee;
}

body.dark .container .button, body.dark .container-actions .button {
    background-color: #444;
    color: #ccc;
    border: 1px solid black;
}

body.dark .container a, body.dark .container a:visited {
    color: #ddd;
}
