.top {
    height: 5em;  /* .top + .settings */
}

.settings {
    height: 3em;
    line-height: 3em;
    margin: 0;
    padding: 0 0.5em;
    overflow-y: auto;
}

.smp-versions-area {
    font-size: 0.7em;
    display: inline-block;
    margin-left: 2em;
}

.container {
    top: 5em;
}

#smp-delete-container {
    font-size: 0.7em;
    line-height: 1em;
    color: #888;
}

#collection {
    overflow-y: scroll;
}

#collection.with-selection {
    height: calc(100% - 5em);
}

#smilepack.with-selection {
    height: calc(100% - 7em);
}

#collection-action-panel {
    height: 5em;
}

#smilepack-action-panel {
    height: 7em;
}

#collection .smile.dragged {
    visibility: visible;
    opacity: 0.2;
}

.dialog.smp-saved {
    background-image: url('../images/action-saved.png');
    background-repeat: no-repeat;
    background-position: 95% 5%;
}

.dialog.smp-saved .dialog-title {
    border-bottom: 0;
    background-color: transparent;
}

.uploader-choice {
    font-size: 0.85em;
    margin: -0.5em -0.5em 0 -0.5em;
    border-bottom: 1px solid #eee;
}

.uploader-choice * {
    vertical-align: baseline;
}

#dialog-new-category.mode-add .mode-edit {
    display: none;
}

#dialog-new-category.mode-edit .mode-add {
    display: none;
}

.widget-collection .additional, .widget-collection .additional-new-smiles {
    padding: 0.5em;
    line-height: 2em;
    display: none;
}

.widget-collection.smiles-opened .additional {
    display: block;
}

.widget-collection.new-smiles-opened .additional-new-smiles {
    display: block;
}

.action-more-new.new-loading {
    color: rgba(128, 128, 128, 0.1);
}

.header-right {
    float: right;
    font-size: 0.9em;
    margin-right: 14.5em;
}

.header .report-link, .header .report-link:visited {
    color: #777;
}

.header .report-link:hover {
    color: #eee;
}

.actions-menu {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    color: #999;
    font-size: 0.9em;
    width: 14em;
    height: 1.75em;
    line-height: 1.25em;
    text-align: right;
    padding: 0.25em;
    cursor: default;
    background-color: #333;
    box-sizing: border-box;
    border-radius: 0.25em;
}

.actions-list {
    width: 14em;
    position: fixed;
    z-index: 500;
    list-style: none outside none;
    margin: 0.25em 0 0 -0.25em;
    padding: 0;
    background-color: #333;
    text-align: left;
    display: none;
}

.actions-list li {
    margin: 0;
    padding: 0.25em;
    color: white;
    cursor: pointer;
}

.actions-list li > a, .actions-list li > a:visited {
    display: block;
    text-decoration: none;
    color: inherit;
}

.actions-menu:hover {
    border-radius: 0.25em 0.25em 0 0;
}

.actions-menu:hover .actions-list {
    display: block;
    transition-delay: 0;
}

.actions-list li:hover {
    background-color: #555;
}


@media(max-width: 52em){
    .top {
        height: 8em;
    }

    .settings {
        height: 6em;
    }

    .container {
        top: 8em;
    }
}
