@import 'common.css';

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f2a4f;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center center;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 2em;
}

.wrap {
    overflow: hidden;
    min-height: 100%;
    text-align: center;

    display: -webkit-flex; /* old Safari */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 30em;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0.5em black;
    border-radius: 0.5em;
    padding: 0.5em;
    color: black;
    margin: 2em auto;
    text-align: left;
}

.modal-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.modal-text {
    line-height: 1.25em;
    font-size: 0.9em;
}

.error-image {
    height: 15em;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -2.5em;
}

.error-image.error-403 {
    background-image: url('../images/derpy403.png');
}

.error-image.error-404 {
    background-image: url('../images/derpy404.png');
}

.error-image.error-500 {
    background-image: url('../images/derpy500.png');
}
