.generic-tagging-container .tag-list {
    padding-left: 0;
    padding-bottom: 20px;
}

.generic-tagging-container .tag-list .tag {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 5px 3px 0;
    padding: 0;
    border: 1px solid #dedede;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    background: #efefed;
    font-size: 14px;
    line-height: 20px;
}

.generic-tagging-container .tag-list .tag:hover {
    background-color: #fefefe;
}

.generic-tagging-container .tag-list .tag.locked {
    background-color: #d0d0d0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.generic-tagging-container .tag-list .tag.locked:hover {
    background-color: #e0e0e0;
}

.generic-tagging-container .tag-list .tag a.tag-link {
    display: block;
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
    outline: none;
    color: #3d3d3d;
    float: left;
    margin: 0 2px;
}

.generic-tagging-container .tag-list .tag a.tag-link:visited {
    color: #3d3d3d;
}

.generic-tagging-container .tag-list .tag .tool {
    float: left;
}

.generic-tagging-container .tag-list .tag .tool .util {
    background: url(images/sprites.png) no-repeat;
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 1px;
    cursor: pointer;
}

.generic-tagging-container .tag-list .tag .tool .util.delete-button {
    right: 3px;
    top: 8px;
    background-position: 0 -5px;
}

.generic-tagging-container .tag-list .tag .tool .util.delete-button:hover {
    background-position: 0 -10px;
}

.generic-tagging-container .generic-tagging-form {
    display: block;
    clear: both;
}

.generic-tagging-container .tag-list .tag .tool .util.lock-button {
    left: 3px;
    top: 8px;
    background-position: -5px 0;
}

.generic-tagging-container .tag-list .tag .tool .util.unlock-button {
    left: 3px;
    top: 8px;
    background-position: -10px 0;
}

.generic-tagging-container .tag-list .tag:hover .tool .util.lock-button {
    background-position: -5px -5px;
}

.generic-tagging-container .tag-list .tag:hover .tool .util.unlock-button {
    background-position: -10px -5px;
}

.generic-tagging-container .tag-list .tag:hover .tool .util.lock-button:hover {
    background-position: -5px -10px;
}

.generic-tagging-container .tag-list .tag:hover .tool .util.unlock-button:hover {
    background-position: -10px -10px;
}

.generic-tagging-form {
    margin-left: 5px;
}

.generic-tagging-container .generic-tagging-form .add-tag-button {
    float: left;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    background: url(images/tag.png) no-repeat 0 0;
}
.generic-tagging-container .generic-tagging-form .add-tag-button:hover {
    background-position: 0 -16px;
}
.generic-tagging-container .generic-tagging-form .add-tag-button.active {
    background-position: 0 -32px !important;
}

.generic-tagging-container .generic-tagging-form .label-input {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
