.sortable-table {
  background:#fff;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:0;
  padding: 0 !important;
  border:1px solid #ddd;
  border-collapse:separate;
  *border-collapse:collapsed;
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.10);
     -moz-box-shadow:0 0 4px rgba(0,0,0,0.10);
          box-shadow:0 0 4px rgba(0,0,0,0.10);
  }
.sortable-table th,
.sortable-table td {
  padding:6px 8px;
  /*line-height:14px;*/
  border-top:1px solid #ddd;
  min-width: 45px;
  color: #333;
  }
.sortable-table th {
  background: #eee;
  font-weight: bold;
  font-size: 0.8em;
  vertical-align:bottom;
  }
.sortable-table td {
  vertical-align:top;
  }
.sortable-table td span[title] {
  border-bottom: 1px dotted grey;
  cursor: help;
}
.sortable-table thead:first-child tr th,
.sortable-table thead:first-child tr td {
  border-top:0;
  }
.sortable-table tbody + tbody {
  border-top:2px solid #ddd;
  }
.sortable-table th + th,
.sortable-table td + td,
.sortable-table th + td,
.sortable-table td + th {
  border-left:1px solid #ddd;
}
.sortable-table thead:first-child tr:first-child th,
.sortable-table tbody:first-child tr:first-child th,
.sortable-table tbody:first-child tr:first-child td {
  border-top:0;
}

.sortable-table tfoot {
  border-top: 1px solid #000;
  margin-top: 2px;
  padding-top: 5px;
}

.sortable-table tfoot tr td {
  border-top: 3px solid #000;
  font-weight: bold;
}

/*tablesort specific styling*/
.sortable-table th.sort-header::-moz-selection { background:transparent; }
.sortable-table th.sort-header::selection      { background:transparent; }
.sortable-table th.sort-header { cursor:pointer; }
.sortable-table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 6px 6px;
  border-style:solid;
  border-color: #404040 transparent;
  opacity:0.7;
  }
.sortable-table th.sort-header:hover:after {
  border-color: #333 transparent;
  opacity:1;
  }
.sortable-table th.sort-up:after,
.sortable-table th.sort-down:after,
.sortable-table th.sort-down:hover:after {
  border-color: #333 transparent;
  opacity:1;
  }
.sortable-table th.sort-up:after {
  border-bottom:none;
  border-width:6px 6px 0;
  }

.sortable-table__container {
  overflow: auto;
}

.sortable-table__source {
  text-align: right;
  font-size: 10px;
  color: #bbb;
}
