div.wy-menu-vertical > p.caption.link {
  padding: 0;
}

div.wy-menu-vertical > p.caption > span > a {
  color: inherit;
  font-size: 100%;
  padding-top: 0;
  padding-bottom: 0;
  line-height: inherit;
}

div.wy-menu-vertical > p.caption > span > a:hover {
  color: #4981A7;
  background: inherit;
}
