#app {
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;
}

.display {
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  background-color: white;
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.white-out {
  color: rgba(255, 255, 255, 1);
}

.navbar-notif {
  margin-right: 1em;
}
