body { padding-top: 100px; }

#navster {
	background-color: #2a2a2a;
	color: white;
}

@media (min-width: 767px) {
	#navster ul li{
		margin-top: 10px;
	}
}

.dropdown-menu{
	background-color: #2a2a2a !important;
	color: white !important;
	border: none;
	padding-bottom: 10px;
}

.papa-dropdown{
	height: 50px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: white !important;
	background-color: #2a2a2a !important;
}

.navbar-default .navbar-nav > li > a{
	color: white !important;
}

.navbar-default .navbar-nav > li > a {
	background-color: #2a2a2a !important;
}

.dropdown-menu > li > a {
	color: white !important;
	padding: 0px;
}
#logout{
	color: white;
}
.profile_links{
	text-align: center !important;
}
.profile_links a:hover{
	background-color: transparent !important;
	text-decoration: none;
}
.profile_links:hover{
	cursor: pointer !important; 
	cursor: hand !important;
}

.nav > li > a {
	display: inline;
}


/* messages notifications tab*/
.glyphicon-comment {
    font-size: 1.3em;
}
.glyphicon-comment:hover {
    color: #cfd2d6 !important;
}
.glyphicon-globe {
	font-size: 1.5em;
}
.glyphicon-globe:hover {
    color: #cfd2d6 !important;
}
.glyphicon-user {
	font-size: 1.5em;
}
.glyphicon-user:hover{
	color: #cfd2d6 !important;
}
#messages_icon{
	width: 80px !important;
	min-width: 50px !important;
}
#message_notification{
	display: inline-block;
	border-radius: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 3px;
	background-color: #ad3a3a;
	color: white;
	font-size: 12px;
	font-family: "Arial Black", Gadget, sans-serif;
}
.messages_dropdown{
	width: 407px;
	padding-left: 5px;
	padding-right: 5px;
}
#message_display{
	background-color: #2a2a2a;
	color: black;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	width: 400px;
}
.actual_message{
	background-color: white;
	padding: 5px;
	margin-top: 0px;
}
.actual_message:hover{
	background-color: #cfd2d6;
	cursor: pointer !important; 
	cursor: hand !important;
}
hr{
	background-color: #cfd2d6;
	margin: 0;
}
.message{
	color: #66696a;
	font-size: 12px;
	margin-bottom: 0px;
}
.dropdown-menu a{
	color: white;
}
.dropdown-menu a:hover{
	color: white;
	cursor: pointer !important; 
	cursor: hand !important;
}
.message_options{
	margin-bottom: 5px;
}
.actual_message a img{
	height: 50px;
	width: 50px;
	display: inline-block;
}
.actual_message a{
	padding: 5px;
	height: 60px;
	width: 60px;
	display: inline-block;
}
.thirty{
	padding: 10px;
	vertical-align: top;
	width: 20%;
	display: inline-block;
}
.seventy{
	vertical-align: top;
	width: 70%;
	display: inline-block;
}
.read {
	background-color: #cfd2d6 !important;
}