textarea.markdown {
	width: 610px;
	height: 20em;
	padding: 2px 3px;
	margin-left: 9em;
	font-family: monospace;
	font-size: 100%;
	margin-top: 0;
	border: solid silver 1px;
}

.change-form .markdown_container {
	margin-left: 10em;
}

.markdown_container textarea.markdown {
	margin-left: 0;
}

form ul.markdown_toolbar {
	padding: 3px;
	margin: 0;
	background-color: #417690;
	width: 612px;
	height: 18px;
	position: relative;

	font: menu;
}

form ul.markdown_toolbar li {
	list-style: none;
	display: block;
	float: left;
	margin: 0;
	margin-right: 3px;
	height: 18px;
	padding: 0;
	width: 18px;
}

ul.markdown_toolbar li a {
	display: block;
	height: 18px;
	color: black;
	background-color: #a7c0cc;
	width: 0;
	overflow: hidden;
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: top left;

	text-decoration: none;
}

ul.markdown_toolbar li a:hover {
	background-color: #bbced8;
}

.markdown_bold_button {
	background-image: url('../icons/bold.png');
}

.markdown_italic_button {
	background-image: url('../icons/italic.png');
}

.markdown_heading_button {
	background-image: url('../icons/heading.png');
}

.markdown_unordered_list_button {
	background-image: url('../icons/unordered-list.png');
}

.markdown_ordered_list_button {
	background-image: url('../icons/ordered-list.png');
}

.markdown_link_button {
	background-image: url('../icons/link.png');
}

.markdown_help_button {
	background-image: url('../icons/help.png');
	position: absolute;
	right: 3px;
	top: 3px;
}

.markdown_toolbar .markdown_toggle_preview {
	display: block;
	width: auto;
	padding: 2px 4px;
	height: 14px;
	position: absolute;
	top: 3px;
	right: 24px;
}

.markdown_preview {
	border: solid silver 1px;
	border-top: solid 3px #417690;
	border-bottom: none;
	height: 13em;
	width: 586px;
	overflow: auto;
	padding: 1px 15px;
}

form .markdown_preview p {
	margin: 1em 0;
	padding: 0;
}

.markdown_preview p {
	text-align: justify;
}

form .markdown_preview ul,
form .markdown_preview ol {
	margin-left: 2.5em;
	padding-left: 0;
}

.markdown_preview .caret {
    margin-right: -1px;
    vertical-align: -1px;
    background: url('../images/caret.gif') no-repeat top left;
    width: 1px;
    height: 11px;
    display: inline-block;
}

#link-dialog {
	position: absolute;
	padding: 10px;
	background-color: white;
	border: solid silver 1px;
}

#link-dialog label {
	padding-right: 10px;
}

#link-dialog .buttons {
	text-align: right;
}

#link-dialog p {
	text-align: left;
}
