body {
    padding-top: 50px;
}
.main_content {
    padding: 60px 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-grey .panel-heading {
    border-color: #777;
    color: #fff;
    background-color: #777;
}

.mon_details_row_name {
    font-weight: bold;
}

#trace_vis {
    padding-left: 10px;
    padding-right: 10px;
}

.b3res {
    width: 25px;
    align-content: center;
    display:block;
}

.huge {
    font-size: 3em;
}

.b3stat_icon {
    font-size: 4em;
    font-weight: bold;
}

.b3fres {
    /*width: 50px;*/
    align-content: center;
    display:block;
}

.tooltipclass {
    background-color: #2b2b2b;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.logoHeader {
    width: 38px;
    float: left;
    padding-top: 7px;
    margin-right: 10px;
}
