.Layout{
  display: flex;
  flex-direction: row;
  
  height: 100%;
  
  background: rgb(255, 255, 255);
  
  font-family: Helvetica,  Arial;
  font-size: 16px;
}

.Layout-Sidebar{
  position:relative;
  
  display:flex;
  flex-direction:column;
  
  flex-shrink: 0;
  
  height: 100%;
  overflow: visible;
  
  background: rgb(244, 244, 244);
  box-shadow: inset -1px 0px 0px rgb(140, 140, 140);
  
  width: 220px;
  min-width:220px;
  max-width: 50%;
}

.Layout-SidebarHeader{
  flex-shrink: 0;
  overflow: hidden;
  
  margin-right:1px;
  
  background: rgb(255, 255, 255);
  box-shadow: inset 0px -1px 0px rgb(163, 163, 163);
}
.Layout-SidebarContent{
  flex:2;
  flex-shrink: 0;
  
  overflow:scroll;
}

.Layout-Content{
  display:block;
  position:relative;
  
  background:rgb(255, 255, 255);
  
  flex: 2;
  flex-shrink: 0;
  
  min-width:50%;
  
  height: 100%;
  overflow: visible;
}

.Layout-Explorer{
  display:block;
  position:relative;
  
  background:rgb(244,244,244);
  
  flex-shrink: 0;
  
  min-width:20px;
  width:20%;
  max-width: 50%;
  
  height: 100%;
  overflow: visible;
}