.nav-tabs-custom.main{
    margin: 1%;
    width: 48%;
}

.progress-bar-green, .progress-bar-success {
    background-color: #00A65A !important;
}

#id_settings_level{
    list-style: none;
    padding: 0;
}

#env-variables .add-row{margin-left: 30px;}
#env-variables .delete-row{margin-top: 30px;}

#label-variables .add-row{margin-left: 30px;}
#label-variables .delete-row{margin-top: 30px;}

.form-group li, .alert li {list-style: none; margin-left: 0}
.form-group ul {padding-left: 0}
